body {
  background-color: rgb(61, 58, 58);
  text-align: center;
}

#menuNav{
  display: none;
}

#screenTwo{
  display: none;
}

#screenThree{
  display: none;
}

#screenFour{
  display: none;
}

#screenFive{
  display: none;
  background-color: rgb(199, 200, 201);
}

#screenSix{
  display: none;
}

#firstImage {
  width: 40%;
  padding-top: 20%;
}

.btn-primary {
background-color: #F6A800;
color: black;
width: 100%;
}

#label {
  font-size: 30px;
  text-align: center;
  color: #F6A800;
}

.rowForm {
  text-align: center;
}

p{
  color: white;
}

#register {
  color: #F6A800;
  background-color: transparent;
  border: none;
}

#userEmail {
  border-color: #F6A800;
}

.ppalMenu {
  background-color: #F6A800;
  color: white;
  margin-top: 1%;
  margin-bottom: 4%;
  width: 100%;
}

#menuBody {
  background-color: rgb(223, 213, 213);
}

.p-4 {
  background-color: white;
}

.nav-link {
  color: black;
}

#userImg {
  width: 15%;
  height: 15%;
  background-color: #F6A800;
}

.rowUserimg {
  background-color: #F6A800;
  width: 100%;
  /* height: 60%; */
  padding: 0%;
}

.rowUserimg2 {
height: 100%;
padding: 0%;
}

#showEmail {
  margin-left: 20%;
  color: white;
}

.userName {
  width: 80%;
  margin-top: 3%;
  margin-left: 10%;
}

.cardNumber {
  width: 80%;
  margin-top: 3%;
  border: none;
  margin-left: 10%;
  background-color: rgb(223, 213, 213);
}

#inputCardTwo {
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 40%;
}

#btnCard {
  background-color: #F6A800;
  color: white;
  width: 80%;
  margin-top: 3%;
  margin-left: 10%;
}

#btnBalance {
  background-color: #F6A800;
}

.menuUser {
  padding: 0%;
}

.userImage {
  padding: 0%;
}

.calculateOptions {
  width: 50%;
  margin-top: 10%;
}

.menu{
  position: absolute;
  top:0;
  height: 100vh; 
  width: 60vw;  
  transition: 0.5s ease-out
}

.barMenu {
  background-color: rgb(61, 58, 58);
}

.menu_closed{
  left: -90vw;
}

.menu_open{
  left: 0;
}

.close_button{ 
  font-size: xx-large;
  color: black;
  position: absolute;
  right: 10px;                   
}

.menu_content{
  padding: 10px;
  margin-top: 20px;
}

#sideMenu {
  background-color: #fafafa;
  z-index: 1;
}

.iconMenu {
  color: white;
}

.navbar-toggler {
  border: none;
}

.nav-link {
  color: black;
}

#closingX {
  color: black;
  cursor: pointer;
}

.questions {
  background-color: #F6A800;
  width: 100%;
  padding: 0%;
}

#cardNumber {
  width: 80%;
  background: inherit;
  background-color: transparent;
  border: none;
  text-align: center;
}

#inputPrice {
  width: 49%;
  display: inline-block;
  margin-right: 2%;
}

#inputCard {
  width: 49%;
  /* margin-right: 2%; */
}

#btnCalculate {
  background-color: #F6A800;
  color: white;
  width: 40%;
  padding: 0%;
  font-size: 16px;
}

#tarifa {
  margin-right: 40%;
}

#cardoption {
  margin-right: 10%;
}

#inputMoney {
  width: 100%;
}


@media(min-width: 768px){ /* esta medida se encuentra en bootstrap-> overview-> responsive breakpoints */
  .menu{
      width: 20vw; /*El menú va a tomar este ancho con pantallas de 768px hacia arriba*/
  }

  .menu_closed{
      left:-20vw;
  }
}